<template>
  <div class="<%= className %>">
    
  </div>
</template>

<style lang="less" scoped>
.<%= className %> {

}
</style>

<script>
import {
  Vue,
  Component,
  Prop,
  Emit,
  Inject,
  Model,
  Provide,
  Watch
} from "vue-property-decorator";

@Component({
  components: {

  }
})
export default class <%= compName %> extends Vue {
  created() {

  }
  mounted() {

  }
}
</script>